
.container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


.sobre {
    padding: 40px 0;
    background-color: #fff;
}

.sobre h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #FC2D36;
}

.sobre p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.time {
    padding: 40px 0;
    background-color: #FFB9B9;
}

.membros h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.membros-equipe{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.membros {
    flex: 1;
    min-width: 250px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.membros img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 15px;
}

.membros h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.membros p {
    font-size: 1.1rem;
    color: #777;
}
.doacao1 {
    border-radius: 40px;
    margin-right: 5px;
}
.doacao2 {
    border-radius: 40px;
}

.doacao3 {
    border-radius: 40px;
    height: 350px;
    width: 350px;
    margin-left: 5px;
}


.doacao1 {
    max-width: 100%;
    height: auto;
}
.doacao2 {
    max-width: 100%;
    height: auto;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    font-size: 1rem;
}


@media (max-width: 768px) {
    .membros-equipe {
        flex-direction: column;
        gap: 20px;
    }
}
